---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout>
    <div class="hero-section">
        <div class="text-block">
            <h1 class="hero-headline">
                Simone Sun is a <em>product designer</em> and <em>prototyper</em> based in Williamsburg, NY. 
            </h1>
            <h1 class="hero-description">
                She designs digital products and prototypes them with code.
        </div>
    </div>
    
    <h2>Selected Works</h2>
    <ul>
    {projects.map(project => (
        <li>
            <a href={`/projects/${project.id}`}>
            <ProjectCard
                title={project.data.title}
                description={project.data.description}
                cover={project.data.cover}
                coverAlt={project.data.coverAlt}
                id={project.id}
            />
            </a>
        </li>
    ))}
    </ul>
</Layout>

<style>
    .hero-section {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .hero-headline {
        font-family: urw-form-expanded, sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: auto;
        text-transform: uppercase;
    }

    .hero-description {
        font-family: urw-form-expanded, sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
		font-style: normal;
		line-height: 110%;
		color: var(--Text-Neutral-Tertiary);
    }

    @media (max-width: 900px) {
    .interactive {
        display: none;
    }
    .hero-section {
        grid-template-columns: 1fr; /* Stack content on mobile */
    }
}

    em {
        color: rgb(207, 54, 34);
        font-style: normal
    }
    
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        column-gap: 1rem;
        row-gap: 6rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    a {
        text-decoration: none; 
        color: inherit;   
    }

    @media (max-width: 740px) {
        ul {
            row-gap: 5rem;
        }
    }
</style>
