---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout>
    <h1>
        Simone Sun is a <em>product designer</em> and <em>creative technologist</em> based in Brooklyn, NY.
    </h1>
    <p>
        She designs digital products and develops AR/VR interactions.
    </p>
    <h1>My projects</h1>
    <ul>
    {projects.map(project => (
        <li>
            <a href={`/projects/${project.id}`}>
            <ProjectCard
                title={project.data.title}
                description={project.data.description}
                cover={project.data.cover}
                coverAlt={project.data.coverAlt}
                id={project.id}
            />
            </a>
        </li>
    ))}
    </ul>
</Layout>

<style>
    h1 {
        font-size: 2rem;
        font-weight: 900;
        font-style: normal;
        color: #333;
    }

    em {
        color: rgb(207, 54, 34);
        font-style: normal
    }
    
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    a {
        text-decoration: none; 
        color: inherit;   
    }
</style>
