---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout>
    <h1 class="hero-headline">
        <em>Product designer</em> who builds with <em>code</em>. 
        </br>
        Williamsburg, NY.
    </h1>
    <h1 class="hero-description">
        Full-stack product designer with early-stage startup experience doing end-to-end design and getting products out the door. 
        </br>
        Very technically focused and like to work directly with engineering. 
        I bring a scrappy, get-it-done mindset to fast-moving teams.
    </h1>
    
    <h2>Selected work</h2>
    <ul>
    {projects.map(project => (
        <li>
            <a href={`/projects/${project.id}`}>
            <ProjectCard
                title={project.data.title}
                description={project.data.description}
                cover={project.data.cover}
                coverAlt={project.data.coverAlt}
                id={project.id}
            />
            </a>
        </li>
    ))}
    </ul>
</Layout>

<style>
    .hero-headline {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: auto;
    }

    .hero-description {
        font-size: 1.25rem;
        font-weight: 300;
		font-style: normal;
		line-height: 110%;
		color: var(--Text-Neutral-Secondary);
    }

    em {
        color: rgb(207, 54, 34);
        font-style: normal
    }
    
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    a {
        text-decoration: none; 
        color: inherit;   
    }
</style>
