---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const projects = (await getCollection("projects")).sort(
  (a, b) => new Date(b.data.date as string).valueOf() - new Date(a.data.date as string).valueOf()
);
---

<Layout>
    <div class="hero-section">
        <div class="text-block">
            <h3 class="hero-headline">
                Simone Sun is a <em>product designer</em> and <em>prototyper</em> based in Brooklyn, NY. 
            </h3>
            <h3 class="hero-description">
                She designs digital products and prototypes them with code.
            </h3>
        </div>
    </div>
    
    <h2>Selected Works</h2>
    <ul>
    {projects.map(project => (
        <li>
            <a href={`/projects/${project.id}`}>
            <ProjectCard
                title={project.data.title}
                description={project.data.description}
                cover={project.data.cover}
                coverAlt={project.data.coverAlt}
                id={project.id}
            />
            </a>
        </li>
    ))}
    </ul>
</Layout>

<style>
    .hero-section {
        padding-top: 4rem;
        padding-bottom: 4.5rem;
        width: 50%;
    }

    h3.hero-headline {
        text-transform: uppercase;
    }

    h3.hero-description {
		color: var(--Text-Neutral-Tertiary);
        text-transform: uppercase;
    }

    em {
        color: rgb(207, 54, 34);
        font-style: normal
    }
    
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        column-gap: 2rem;
        row-gap: 4rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    a {
        text-decoration: none; 
        color: inherit;   
    }

    @media (max-width: 740px) {
        .hero-section {
            width: 80%;
            padding-top: 0rem;
            padding-bottom: .5rem;
        }

        ul {
            row-gap: 5rem;
        }
    }

    @media (max-width: 900px) {
        .hero-section {
            padding-top: 0rem;
            padding-bottom: .5rem;
        }
    }

</style>
