---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout>
    <h2>Selected projects</h2>
    <ul>
    {projects.map(project => (
        <li>
            <a href={`/projects/${project.id}`}>
            <ProjectCard
                title={project.data.title}
                description={project.data.description}
                cover={project.data.cover}
                coverAlt={project.data.coverAlt}
                id={project.id}
            />
            </a>
        </li>
    ))}
    </ul>
</Layout>

<style>
    ul {
        list-style: none;
        padding: 0;
        display: grid;
        column-gap: 16px;
        row-gap: 48px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    h2 {
		padding-top: 2rem;
	}

    a {
        text-decoration: none; 
        color: inherit;   
    }
</style>