---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout>
    <h1>My projects</h1>
    <ul>
    {projects.map(project => (
        <li>
            <a href={`/projects/${project.id}`}>
            <ProjectCard
                title={project.data.title}
                description={project.data.description}
                cover={project.data.cover}
                coverAlt={project.data.coverAlt}
                id={project.id}
            />
            </a>
        </li>
    ))}
    </ul>
</Layout>

<style>
    body {
        font-family: "League Spartan Variable", sans-serif;
    }

    ul {
        list-style: none;
        padding: 0;
        display: grid;
        grid-gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    a {
        text-decoration: none; 
        color: inherit;   
    }
</style>